.welcome-page {
  /* background-color: #000; */
  background-image: url("../../../assets/images/welcome-bg.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: rgba(23, 33, 47, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.1rem;
}

.logo {
  width: 6.5rem;
}

.buttons {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 20rem;
  height: 1vh;
}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
  word-wrap: break-word;
}

.subtitle {
  font-size: 1.5rem;
  text-align: center;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .logo {
    width: 8rem;
  }
  .title {
    font-size: 2rem;
  }
  .subtitle {
    font-size: 1rem;
  }
  .content {
    padding: 1rem;
  }
  .header {
    padding: 0.5rem;
  }
  .p-button {
    font-size: 0.8rem; /* ajusta el tamaño de fuente de los botones */
    padding: 0.2rem 0.5rem; /* ajusta el padding de los botones */
  }
}

@media screen and (max-width: 480px) {
  .logo {
    width: 6rem;
  }
  .title {
    font-size: 1.5rem;
  }
  .subtitle {
    font-size: 0.8rem;
  }
  .header {
    padding: 0.3rem;
  }
}
