<div *ngFor="let lista of listarTodo; let i = index" class="mb-4 fadeIn">
     <div class="container text-layout">
          <h2>{{ lista.tipo }}</h2>
          <p-divider></p-divider>

          <div class="p-d-flex p-flex-wrap p-jc-center">
               <div *ngFor="let dir of lista.dir; let j = index" class="col">
                    <p-card subheader="{{ dir.directorio.replace('videos/' + lista.tipo + '/', '') | slice:0:25 }}"
                         styleClass="tarjeta-home p-mr-2">

                         <ng-template pTemplate="header">
                              <img [src]="dir | imagen"
                                   class="card-img-top img-carta-home">
                         </ng-template>

                         <ng-template pTemplate="footer">
                              <button pButton [routerLink]="['/reproductor', i, j]" type="button" class="p-button-sm p-button-primary">Reproducir</button>
                         </ng-template>
                    </p-card>
               </div>
          </div>
     </div>

</div>