header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.1rem;
  background: linear-gradient(to right, #121338, #354f97);
}

header img {
  width: 10rem;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #121338, #354f97);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  max-width: 400px;
  width: 100%;
}

form input {
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

form button {
  width: 100%;
  margin-top: 1rem;
  background-color: #e50914;
  color: #fff;
  border: none;
}

form button:hover {
  background-color: #d60c11;
  cursor: pointer;
}

.error-message {
  color: red;
  margin-top: 0.5rem;
  }