<header>
  <img src="../../../assets/images/logo.png" alt="Logo de la empresa">
</header>

<div class="login-form">
  <form (ngSubmit)="onSubmit()">
    <div class="p-inputgroup">
      <span class="p-input-icon-left">
        <i class="pi pi-user"></i>
      </span>
      <input type="text" placeholder="Username" name="username" [(ngModel)]="username">
    </div>

    <div class="p-inputgroup">
      <span class="p-input-icon-left">
        <i class="pi pi-lock"></i>
      </span>
      <input type="password" placeholder="Password" name="password" [(ngModel)]="password">
    </div>

    <button type="submit" class="p-button p-button-raised p-button-rounded">
      Iniciar sesión
    </button>

    <div *ngIf="loginError" class="error-message">
      Error en el inicio de sesión. Por favor, revisa tus credenciales e intenta de nuevo.
    </div>
  </form>
</div>

<app-footer></app-footer>