html, body {
    margin: 10px;
    background-color: var( --surface-b );
    font-family: var( --font-family );
}

.text-layout {
    color: var( --text-color);
}

.tarjeta {
    width: 15rem;
    /* height: 33rem; */
    margin-bottom: 2em;
    padding: 0 auto;
}

.tarjeta-home {
    width: 20rem;
    /* height: 33rem; */
    margin-bottom: 2em;
    padding: 0 auto;
}

.container {
    max-width: 100rem;
    margin: 0 auto;
}

.img-carta-home {
    width: 295px;
    height: 166px;
}